# Version FINALE (corrigée et testée) du 13/11/2025
# Utilisation du tag correct pour l'image Bitnami HBase.

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    hostname: namenode
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - C:/Users/lenovo/hadoop_project/BIGDATA_ENGINEERING_LABS/hadoop_project:/shared_volume
    environment:
      - CLUSTER_NAME=test
    networks:
      - hadoop-network

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    hostname: resourcemanager
    depends_on:
      - namenode
      - datanode1
      - datanode2
    ports:
      - "8088:8088"
    networks:
      - hadoop-network

  historyserver:
    image: bde2020/hadoop-historyserver:2.0.0-hadoop3.2.1-java8
    container_name: historyserver
    hostname: historyserver
    depends_on:
      - namenode
      - resourcemanager
    ports:
      - "19888:19888"
    networks:
      - hadoop-network

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    hostname: datanode1
    depends_on:
      - namenode
    ports:
      - "9864:9864"
    networks:
      - hadoop-network

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    hostname: datanode2
    depends_on:
      - namenode
    ports:
      - "9865:9864"
    networks:
      - hadoop-network

  # === LA DERNIÈRE CORRECTION EST ICI ===
  hbase-master:
    image: bitnami/hbase:2
    container_name: hbase-master
    hostname: hbase-master
    depends_on:
      - namenode
    ports:
      - "16010:16010"
    environment:
      - HBASE_CONF_hbase_rootdir=hdfs://namenode:9000/hbase
    networks:
      - hadoop-network

networks:
  hadoop-network:
    driver: bridge